 <nav class="navigation container">
        <div id="nav-logo-icon">
            <a href='/'>
                <img src="/images/squintinghill.svg" alt="Hill Onyechekwa, software engineer">
            </a>
        </div>
        <ul>
            <li class="nav-item"><a href="/">
                <img src="/images/noun-home-645256.svg" alt="home">
            </a></li>
            <li class="nav-item"><a href="/about"><img src="/images/staringbeaniehill.svg" alt="about" ></a></li>
            <li class="nav-item"><a href="/projects">
                <img src="/images/noun-idea-2250875.svg" alt="projects">
            </a></li>
            <li class="nav-item"><a href="/community">
                <img src="/images/noun-community-2281479.svg" alt="projects">
            </a></li>
            <li class="nav-item"><a href="/writing">
                <img src="/images/noun-writing-1536570.svg" alt="projects">
            </a></li>
            <li class="nav-item"><a href="/contact">
                <img src="/images/noun-contact-1032258.svg" alt="projects">
            </a></li>
        </ul>
    </nav>