 <nav class='navigation container'>
        <div class='logo-icon'>
            <a href='/'>Hillz</a>
        </div>
        <ul>
            <li class="nav-item"><a href="/">home</a></li>
            <li class="nav-item"><a href="/about">about</a></li>
            <li class="nav-item"><a href="/projects">projects</a></li>
            <li class="nav-item"><a href="/community">community</a></li>
            <li class="nav-item"><a href="/writing">writing</a></li>
            <li class="nav-item"><a href="/contact">contact</a></li>
        </ul>
    </nav>