<section class="profile">
    <div class="profile-image-wrapper">
            <img class="profile-image" src="images/profile.jpg" alt="Hill Onyechekwa, Software Developer">
        </div>
        <div class="profile-card">
            <div class
        </div>
</section>
