<section class="profile">
    <div class="profile-image-wrapper">
            <img id="profile-image" src="/images/profile-img.jpg" alt="Hill Onyechekwa, Software Developer">
            <svg width="0" height="0">
                <defs>
                    <clipPath id="profileCardImage">
                        <rect x="50" y="50" rx="20" ry="20" width="150" height="200"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="profile-card">
            <p class="profile-text">Hello! I'm Hill</p>
            <p class="profile-text" > A Self-taught Fullstack web engineer, from Lagos Nigeria</p>
            <p class="profile-text">As a self-taught fullstack developer that has been building websites since 2018, I love to build web based products that solve business problems and sometimes I just build sites for the fun amazingness that the web is. I enjoy working on different parts of a application whether it's the frontend or the backend.</p>
            <p class="profile-text">I focus on performance, accesibility and scalability all within eye-catching aesthetics. I do this using tools like Reactjs(frontend) and GraphQL(backend)</p>
            <p class="profile-text">I'm always open to new opportunities and world changing, problem solving projects. So don't hesitate to <a class="profile-link" href="/contact">get in touch </a> </p>
        </div>
</section>
