<section class="profile">
    <div class="profile-image-wrapper">
            <img class="profile-image" src="images/profile.jpg" alt="Hill Onyechekwa, Software Developer">
        </div>
        <div class="profile-card">
            <p class="profile-text">Hello! I'm Hill, A Fullstack web engineer, from Lagos Nigeria</p>
            <p class="profile-text">As a fullstack developer, I love to build web based products that solve business problems.</p>
            <p class="profile-text">and sometimes I just build sites for the fun amazingness that the web is. I enjoy working on different parts of a application whether it's the frontend or the backend</p>
            <p class="profile-text">My focus is on performance, accesibility and scalability. I do this using tools like Reactjs(frontend) and GraphQL(backend)</p>
            <p class="profile-text">I'm always open to new opportunities and world changing, problem solving projects. So don't hesitate to <a class="profile-link" href="/contact">get in touch </a> </p>
        </div>
</section>
