<section class="technologies">
    <h2 class="technologies-heading">technologies I work with</h2>
    <ul class="tech-list">
        <li class="tech-list-item">
            <div class="tech-logo"><img src="/images/js.png" alt="JavaScript Logo"></div>
            <h3 class="tech-title">JavaScript</h3>
        </li>
        <li class="tech-list-item">
            <div class="tech-logo"><img src="/images/react.png" alt="Reactjs Logo"></div>
            <h3 class="tech-title">react.js</h3>
        </li>
        <li class="tech-list-item">
            <div class="tech-logo"><img src="/images/node-js-logo.png" alt="A Rocket"></div>
            <h3 class="tech-title">node.js</h3>
        </li>
        <li class="tech-list-item">
            <div class="tech-logo"><img src="/images/gql.png" alt="GraphQL Logo"></div>
            <h3 class="tech-title">GraphQL</h3>
        </li>
    </ul>
</section>