<section class="technologies">
    <h2 class="technologies-heading">technologies I've worked with</h2>
    <ul class="tech-list">
        <li class="tech-list-item">
            <h3 class="tech-title">javascript</h3>
            <div class="tech-logo"><img src="" alt=""></div>
        </li>
        <li class="tech-list-item">
            <h3 class="tech-title">react.js</h3>
            <div class="tech-logo"><img src="" alt=""></div>
        </li>
        <li class="tech-list-item">
            <h3 class="tech-title">node.js</h3>
            <div class="tech-logo"><img src="" alt=""></div>
        </li>
        <li class="tech-list-item">
            <h3 class="tech-title">graphql(backend)</h3>
            <div class="tech-logo"><img src="" alt=""></div>
        </li>
        <li class="tech-list-item">
            <h3 class="tech-title">graphql(frontend)</h3>
            <div class="tech-logo"><img src="" alt=""></div>
        </li>
    </ul>
</section>