/* ---------global styles---------- */

:root{
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --dark-blue: hsl(208, 49%, 24%);
    --primary: hsl(246, 79%, 56%);
    --secondary: hsl(168, 49%, 50%);
    --secondary-dark: hsl(257, 24%, 23%);
    --neutral: hsl(278, 100%, 98%);
    --greyish-blue: hsl(217, 19%, 35%);
    --body-blue: hsl(207, 13%, 34%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(261, 22%, 13%);
}

*{
    font-family: 'Josefin Sans', 'Tahoma', 'Source Sans Pro', 'Futura Md BT', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.3rem;
}

/* -------------navigation styles------------ */


.index-hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--primary);
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.index-hero h1{
    font-size: 5rem;
    color: #fff;
}

.index-hero h4{
    font-size: 1.8rem;
    color: #fff;
}

.index-hero button{
    width: 350px;
    height: 60px;
    border-radius: 5px;
    position: relative;
    top: 100px;
    cursor: pointer;
    transition: animation .2s ease-out 3s;
}

.index-hero button:hover{
    /* TODO: add animation and keyframes later. */
}

.index-hero article{
    justify-self: center;

}

.index-hero svg{
    width: 500px;
    height: 500px;
}

.navigation{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--neutral);
    padding: 0 20px;
    position: fixed;
    top: 80%;
    left: 10%;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0,   0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navigation #nav-logo-icon{
    width: 60px;
}

.navigation #nav-logo-icon a{
    color: none;
}
.navigation #nav-logo-icon a img{
    width: 50px;
}

.navigation ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul .nav-item a{
    color: black;
}

.navigation ul .nav-item a img{
    width: 30px;
}

.profile .profile-image-wrapper img{
    width: 250px;
    position: relative;
}

.profile .profile-image-wrapper #profile-image{
    clip-path: url(#profileCardImage);
}

.profile{
    width: 700px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 80px;
    left: 10%;
    border-radius: 10px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile .profile-card{
    /* width: 100%; */
    height: 400px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 3px 20px;
}

.profile .profile-card .profile-text{
    color: var(--white);
}

.profile .profile-card .profile-text a{
    color: var(--primary);
    transition: color ease-out .5s;
}

.profile .profile-card .profile-text a:hover{
    color: hsl(217, 19%, 35%);
}

.profile .profile-card .profile-text:first-child{
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--white);
    text-transform: capitalize;
}

.profile .profile-card .profile-text:nth-child(2){
    font-size: .9rem;
    position: relative;
    top: -20px;
}

.profile .profile-card .profile-text{
    font-size: 1.5rem;
}

.technologies{
    width: 600px;
    position: relative;
    top: 180px;
    left: 50%;
}

.technologies .tech-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.technologies .technologies-heading{
    text-transform: capitalize;
    color: var(--secondary-dark);
    font-size: 2.8rem;
    text-align: center;
}

.technologies .tech-list .tech-list-item{
    display: grid;
    place-items: center;
}

.technologies .tech-list .tech-list-item div{
    width: 100px;
    height: 100px;
}

.technologies .tech-list .tech-list-item div img{
    width: 80px;
    height: 80px;
}

.technologies .tech-list .tech-list-item h3{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary);
    text-align: center;
}

.projects{
    width: 100%;
    height: 150vh;
    background-color: var(--neutral);
    margin-top: 20%;
    padding-top: 20px;
}

.projects h2{
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary);
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 50px;
}

.projects h3 {
    font-size: 15px;
    line-height: 1.8rem;
    inline-size: 350px;
    word-wrap: break-word;
    color: var(--secondary-dark);
    margin-top: 10px;
    margin-left: 50px;
}

.projects .project-grid{
    width: 80%;
    position: relative;
    left: 10%;
    top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projects .project-grid .project-card{
    width: 300px;
    padding: 20px;
}

.project-heading{
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--primary);
    margin-top: 10px;
    margin-left: 20px;
}

.project-page_list{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-page_list .project-card{
    width: 700px;
    margin-bottom: 50px;
}

.project-page_list .project-card .project-card-image-wrapper{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--secondary);
}

.project-page_list .project-card .project-card-image-wrapper img{
    width: 300px;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: 30%;
    z-index: 1;
}

.project-page_list .project-card .project-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: var(--greyish-blue);
    border-radius: 0px 0px 20px 20px;
    padding: 5px 10px;
    position: relative;
    z-index: 2;
}

.project-page_list .project-card .project-card-body .project-card-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary);
    width: 100%;
    padding: 10px;
}

.project-page_list .project-card .project-card-body .project-card-tags span{
    font-size: 1.8rem;
}

.project-page_list .project-card .project-card-body .project-card-title a{
    font-size: 4rem;
    color: var(--white);
}

.project-page_list .project-card .project-card-body .project-card-summary{
    color: var(--white);
    font-size: 1.7rem;
    inline-size: 400px;
    word-wrap: break-word;
}

.project-page_list .project-card .project-card-body .project-card-link{
    color: var(--white);
    transition: .2s ease-out;
    cursor: pointer;
}

.project-page_list .project-card .project-card-body .project-card-link svg{
    width: 50px;
    position: relative;
    top: 20px;
}

.project-page_list .project-card .project-card-body .project-card-link:hover{
    color: var(--secondary);
}

.projects .project-grid .project-card .project-card-image-wrapper{
    width: 100%;
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 10px 10px 0px 0px;
}

.projects .project-grid .project-card .project-card-image-wrapper img{
    width: 150px;
    position: relative;
    left: 20%;
    top: 60px;
    border-radius: 10px;
    z-index: 1;
}

.projects .project-grid .project-card .project-card-body{
    width: 100%;
    height: 250px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--greyish-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

.projects .project-grid .project-card .project-card-body .project-card-link svg{
    width: 30px;
    position: relative;
    top: 10px;
}


.projects .project-grid .project-card .project-card-body .project-card-link{
    color: var(--white);
    font-size: 12px;
    position: relative;
    transition: color .1s ease-out .5s
}


.projects .project-grid .project-card .project-card-body .project-card-link:hover{
    color: var(--secondary);

}




.projects .project-grid .project-card .project-card-body .project-card-title a{
    color: var(--white);
    transition: color .1s ease-out .5s;
    position: relative;
    left: 30px;
}

.projects .project-grid .project-card .project-card-body .project-card-title a:hover {
    color: var(--primary);
}

.projects .project-grid .project-card .project-card-body .project-card-tags{
    width: 100%;
    display: flex;
    color: var(--secondary);
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 5px;
}

.projects .project-grid .project-card .project-card-body .project-card-summary{
    color: var(--white);
    font-size: 1.4rem;
    padding: 10px;
}

.projects .project-grid .project-card:nth-child(2) .project-card-body .project-card-summary{
    font-size: 1.2rem;
}


.about-wrapper{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: var(--neutral);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.about-wrapper article .about-heading{
    font-size: 4.3rem;
    color: var(--primary);
    text-transform: capitalize;
}

.about-wrapper article p{
    font-size: 2rem;
    line-height: 2.3rem;
}

.about-wrapper img{
    width: 300px;
    position: relative;
    margin: 20px;
}

.about-wrapper #about-profile_image{
    clip-path: url(#aboutImageClip);
}

.contact-wrapper{
    width: 100%;
}

.contact-wrapper h1{
    font-size: 4.5rem;
    color: var(--primary);
    margin: 20px 0px 0px 20px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-form form .form-control{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.about-wrapper article #p2 a,
.about-wrapper article #p3 a{
    color: var(--primary);
}
.about-wrapper article #p2 a:hover,
.about-wrapper article #p3 a:hover{
    color: var(--dark);
}


.footer{
    width: 100%;
    height: 30vh;
    background-color: var(--secondary);
}

.footer #copy-right{
    font-size: 1.3rem;
    color: var(--neutral);
    text-align: center;
    position: relative;
    top: 80%;
}

.footer #copy-right span{
    color: var(--primary);
}

/* TODO: write animation keyfarme */
@keyframes animteButton{}

/* --------------media queries --------------- */
/*mobile queries */
/* mobile screens */
@media only screen and (max-width: 300px){

}

/* mobile max screens */
@media only screen and (max-width: 600px){
    .navigation{}

    .technologies{
        width: 200px;
    }

    .technologies .tech-list{
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}
/*tablet quereis*/
@media only screen and (max-width: 800px) {

}