---
title: 'Hillfolio'
layout: 'base.njk'
---

<header>
    <h2>A brief summary of my journey</h2>
    <p>
        I started programming when I was 12 years old. All I really wanted was to find out
        how my favorite online star wars game.
        I extremely enjoyed playin on the monitor of my dell computer worked so I could
        build my own and add stuff to It.
    </p>
    <p>and well, since then I've worked as a freelance web developer for differnet organizations and individuals solving
        business problems using programming logic and modern technological techniques. You can find the list of some of
        my projects <a href='/projects'>here</a>.</p>
    <p>Beyond that I've also write about code on my personal <a href='/blog'>blog</a> or on other blogs.</p>
    <p>I also love teaching young minds the beauty of creativitiy with code and tech. I do this by volunteering at the smarteens community</p>
</header>