---
title: 'Hillfolio'
layout: 'base.njk'
---

<header class="community-hero">
    <h1>Teaching & Community</h1>
    <article>
        <h3>When I'm not building software I also manage a community/club of teen coders, showing them the ropes in the baisc of computer programming and mentoring them in all they need for their future tech careers.</h3>
    </article>
    <div class="comm-image-grid">
        <div class="image-grid-item igone"></div>
        <div class="image-grid-item igtwo"></div>
        <div class="image-grid-item igthree"></div>
        <div class="image-grid-item igfour"></div>
    </div>
</header>
