---
title: 'Hillfolio'
layout: 'base.njk'
---

<header class='contact-wrapper'>
    <h1 class='contact-title'>Want to get in touch!</h1>
    <p class='contact-subhead'>I'm always open to new opportunities or if you just want to work on some interesting project.</p>
    <section class="contact-form">
        <div class="img-wrapper"></div>
        <form name='contact' action="POST" data-netlify='true'>
            <section class="form-control">
                <label for="name"></label><input type="name" id='name'></section>
            <section class="form-control">
                <label for="email"></label><input type="email" id='email'></section>
            <section class="form-control">
                <label for="message"></label><textarea id="message" rows='3'></textarea></section>
                <button type="submit">done</button>
        </form>
    </section>
</header>